<!DOCTYPE html>
<html lang="en">
{{>head}}
<body>
    {{>header}}
        <h1>Wait... What ?</h1>

        <form>
            <input placeholder="type a location" />
            <button type="submit">Search</button>
        </form>

        <p id="message-1"></p>
        <p id="message-2"></p>
        <p id="message-3"></p>
    {{>footer}}
    <script src="/js/app.js"></script>
</body>
</html>